.Navbar a {
  color: white;
}

.NavBarcolor {
  color: white;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.Navbar {
  width: 100%;
}
.Navbar span {
  margin-right: 15px;
}

/* .navbar-toggler-icon {
  background: rgb(235, 231, 231) !important;
  border-radius: 10% !important;
  z-index: -1 !important;
} */
